$brown: #443324
$darkBrown: #38291d
$lightBrown: #684f38


*
  font-family: 微軟正黑體

$breakpoints: ("phone":400px,"phone-wide":480px,"phablet":560px,"tablet-small": 640px,"tablet":768px,"tablet-wide":1024px,"desktop":1248px,"desktop-wide": 1440px)

@mixin mq($width, $type: min)
  @if map_has_key($breakpoints, $width)
    $width: map_get($breakpoints, $width)
    @if $type == max
      $width: $width - 1px
    @media only screen and (#{$type}-width: $width)
      @content

body
  background-color: #f9f7f9

.divider
  width: 1px
  height: 300px
  background-color: silver
  margin: 16px auto

@media only screen and (max-width: 987px)
  .divider
    width: 85%
    height: 1px
    
.img
  height: 370px
  background-image: url(../images/img.jpg)
  background-repeat: no-repeat
  background-size: cover
  margin-bottom: 16px
  border-radius: 16px

.topContainer
  padding: 48px 32px
  text-align: center
  height: 100vh

.topBg
  background-image: url(../images/bg.jpg)
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 50%
  top: 0
  width: 100%
  height: 100vh
  position: absolute
  z-index: -1
  left: 0

.reservationContainer
  padding: 16px 32px
  background-color: rgba(255,255,255,.7)
  border-radius: 16px
  box-shadow: 0 0 5px 2px rgba(0,0,0,.2)
h3
  text-align: center
  font-weight: bold
  padding: 10px
  &::after
    content: ""
    top: 48px
    width: 90vw
    left: 50%
    transform: translateX(-50%)
    height: 5px
    border-radius: 10em
    width: 90vw
    color: brown

.btn-primary
  background-color: $brown
  border: none
  box-shadow: 1px 1px 3px 1px rgba(71, 53, 37,.3)
  min-width: 100px
  &:hover
    background-color: $lightBrown
  &:active
    background-color: $darkBrown
  &:focus
    background-color: $darkBrown
  &:focus:active
    background-color: $darkBrown

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand
  color: white

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
  background-color: $brown

.navbar-inverse
  background-color: $brown
  border: none
  color: white
  border-radius: 0
  box-shadow: 1px 1px 3px 1px rgba(71, 53, 37,.3)

.navbar-nav > .active
  background-color: $darkBrown

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover
  background-color: $darkBrown

a
  color: $brown

.mainBtn
  padding-top: 16px
  padding-bottom: 16px

.title, .sub
  text-shadow: 2px 2px 1px rgba(0,0,0,.3)

.title
  font-size: 7rem
.sub
  font-size: 5rem

.form-control
  max-width: 90%

.reservationContainer > .container
  padding: 16px

.prevStep
  cursor: pointer
  margin: 16px 0

p
  margin: 10px 0