
*
  font-family: 微軟正黑體

$breakpoints: ("phone":400px,"phone-wide":480px,"phablet":560px,"tablet-small": 640px,"tablet":768px,"tablet-wide":1024px,"desktop":1248px,"desktop-wide": 1440px)

@mixin mq($width, $type: min)
  @if map_has_key($breakpoints, $width)
    $width: map_get($breakpoints, $width)
    @if $type == max
      $width: $width - 1px
    @media only screen and (#{$type}-width: $width)
      @content

body
  background-color: #fffdf9

.divider
  width: 1px
  height: 300px
  background-color: silver
  margin: 16px auto

@media only screen and (max-width: 987px)
  .divider
    width: 95%
    height: 1px
    
.img1
  height: 300px
  background-image: url(../images/img1.jpg)
  background-repeat: no-repeat
  background-size: cover

.img2
  height: 300px
  background-image: url(../images/img2.jpg)
  background-repeat: no-repeat
  background-size: cover

.topContainer
  padding: 48px 32px
  text-align: center
  height: 100vh

.topBg
  background-image: url(../images/bg.jpg)
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 50%
  top: 0
  width: 100%
  height: 100vh
  position: absolute
  z-index: -1
  left: 0

.reservationContainer
  padding: 16px
  background-color: rgba(255,255,255,.7)
  border-radius: 16px

h3
  text-align: center
  font-weight: bold
  padding: 10px
  &::after
    content: ""
    top: 48px
    width: 90vw
    left: 50%
    transform: translateX(-50%)
    height: 5px
    border-radius: 10em
    width: 90vw
    color: brown